/*
Selecteur[s]{
    propriété : valeur ;
{
*/

h1{
  padding: 0px;
  background : white color; 
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: :left;
}

body{
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
    padding: 0px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align : left;
    padding: 0px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
}

.grid > div {
    background-color: grey;
    border: solid 1px
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.child {
    grid-column-start: 2;
    grid-row-start: 1;
}

.Info {
    text-decoration: black
    color; CurrentColor;
}

.index {
    display: grid;
}

.affiches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.photographies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.Penser-Classer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.coffret {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}