/*
Selecteur[s]{
    propriété : valeur ;
{
*/

body { 
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 0px;
  background : white color; 
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: :left;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
    padding: 0px;
    display: grid;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align : left;
    padding: 0px;
}

.index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    margin-bottom: 30px;
    color: black;
}

.affiches {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
}

.photographies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.Penser-Classer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.coffret {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.installation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.multimédia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 30px;

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
}
